@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    background-color: #414040;
}

:root{
    font-size: 16pt;
}

#cabecalho, #cabecalho2{
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #414040;
    height: 80px;
}

#cabecalho2{
    background-color: #ff8c00;
}

#header-title{
    font-size: 1.7rem;
    margin: 40px;
}

#cabecalho2 > #header-title{
    color: #111;
    text-shadow: 0 0 1.5px #222;
}

#logo{
    margin: 40px;
    width: 70px;
}

#info{
    background-color: #ff8c00;
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.content > section.project{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#projects{
    padding: 55px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project{
    width: 78%;
    max-width: 1500px;
    min-height: 285px;
    margin: 85px;
    background-color: #ff8c00;
    border-radius: 0px 30px 30px 0px;
    box-shadow: 2.5px 3px 12px #313131;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-template-rows: 1fr;
}

.project-images{
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 2 / 2;
}

.project-text{
    color: #fff;
    padding: 20px 20px 25px 20px;
    grid-area: 1 / 2 / 2 / 3;
}

.text-project{
    text-shadow: 0 0 4px #000;  
    font-size: 0.9rem;
}

.title-project{
    color: #414040;
    text-shadow: 0 0 4px #995400; 
    font-size: 1.2rem;
}

.title-section, .title-section2{
    text-align: center;
    font-size: 1.2rem;
}

.title-section2{
    padding: 20px;
    background-color: #ff8c00;
}

#personal-card{
    background-color: #555;
    width: 370px;
    min-width: 370px;
    height: 465px;
    border: 2.5px solid #000;
    border-radius: 12px;
    box-shadow: 2.5px 3px 12px #313131;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

#img-fundo-card{
    width: 100%;
    height: 110px;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid #000;
}

#img-perfil-card{
    width: 94px;
    border: 2px solid #000;
    border-radius: 100%;
    position: absolute;
    margin-top: 60px;
}

#conteudo-card{
    width: 350px;
    padding: 12px;
    position: absolute;
    margin-top: 155px;
    z-index: 1;
}

#conteudo-card:hover{
    cursor: default;
}

#subtitle-card{
    text-align: center;
    margin-bottom: 6px; 
    color: #ffae4a;
    text-shadow: 0 0 4px #000; 
    font-size: 1.05rem;
    letter-spacing: 0.8px;
}

#desc-card{
    text-align: justify;
    color: #e9e9e9;
    text-shadow: 0 0 3px #000;
    font-size: 0.8rem;
}

#engloba-redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.links-redes, #link-voltar{
    border-radius: 50%;
}

.redes, #voltar-btn{
    width: 46px;
    margin: 15px 8px;
    border-radius: 50%;
    box-shadow: 0 0 6px #242424;
    transition: 0.19s;
}

#voltar-btn{
    margin: 0;
}

#link-voltar{
    position: fixed;
    bottom: 15px;
    right: 25px;
    z-index: 1;
}

.redes:hover, #voltar-btn:hover{
    filter: saturate(260%);
}

.list-index{
    list-style: none;
    background-color: #555;
    border: 1.8px solid #000;
    box-shadow: 2.5px 3px 6px #313131;
    border-radius: 8px;
    margin: 16px;
    padding: 9px 10px;
    font-size: 0.82rem;
    transition: 0.28s;
}

.list-index:hover{
    cursor: pointer;
    background-color: #7a7a7a;
}

.link-project:hover{
    cursor: pointer;
    background-color: #888;
    box-shadow: 2px 2px 5px #555;
    text-shadow: 0 0 3px #000;
}

.links-index, .link-project a{
    text-decoration: none;
    color: #e9e9e9;
    text-shadow: 0 0 3px #1f1f1f; 
}

.link-project{
    background-color: #6f6f6f;
    box-shadow: 2px 2px 7px #313131;
    padding: 7px 9px;
    border-radius: 12px;
    width: 180px;
    font-size: 0.8rem;
    transition: 0.28s;
}

.creditos{
    padding: 28px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.p-creditos, .a-creditos{
    color: #e9e9e9;
    text-shadow: 0 0 3px #000;
    font-size: 1rem;
    text-decoration: none;
    line-height: 30px;
}

.quebrar-palavra{
    word-break: break-all;
}

/*RESPONSIVIDADE PARA TELAS MAIORES: */

@media screen and (min-width: 1750px){
    :root{
        font-size: 22pt;
    }

    #cabecalho, #cabecalho2{
        height: 100px;
    }

    #header-title, #logo{
        margin: 50px;
    }

    #logo{
        width: 88px;
    }

    #info{
        padding: 60px;
    }

    #personal-card{
        width: 500px;
        min-width: 500px;
        height: 615px;
        border: 2.7px solid #000;
        border-radius: 16px;
    }
    
    #img-fundo-card{
        height: 150px;
        border-bottom: 2.7px solid #000;
        border-radius: 14px 14px 0 0;
    }
    
    #img-perfil-card{
        width: 122px;
        border: 2.7px solid #000;
        margin-top: 83px;
    }
    
    #conteudo-card{
        width: 485px;
        padding: 25px;
        margin-top: 200px;
    }
    
    .redes, #voltar-btn{
        width: 58px;
        margin: 15px 10px;
    }
    
    #voltar-btn{
        margin: 0;
    }
    
    #link-voltar{
        right: 28px;
    }
    
    #projects{
        padding: 70px 0 0 0;
    }

    .project{
        width: 80%;
        max-width: none;
        margin: 92px;
    }

    .project-text{
        padding: 25px 25px 35px 25px;
    }

    .link-project{
        padding: 9px 11px;
        width: 245px;
    }
    
    .title-section2{
        padding: 25px;
    }

    .creditos{
        padding: 40px;
    }

    .p-creditos{
        line-height: 40px;
    }
}

@media screen and (min-width: 2500px){
    :root{
        font-size: 30pt;
    }

    #cabecalho, #cabecalho2{
        height: 132px;
    }

    #header-title, #logo{
        margin: 60px;
    }

    #logo{
        width: 117px;
    }

    #info{
        padding: 90px;
    }

    #personal-card{
        width: 700px;
        min-width: 700px;
        height: 850px;
        border-radius: 22px;
    }
    
    #img-fundo-card{
        height: 210px;
        border-radius: 22px 22px 0 0;
    }
    
    #img-perfil-card{
        width: 170px;
        margin-top: 120px;
    }
    
    #conteudo-card{
        width: 660px;
        margin-top: 290px;
    }
    
    .redes, #voltar-btn{
        width: 80px;
        margin: 15px 10px;
        transition: 0.18s;
    }
    
    #voltar-btn{
        margin: 0;
    }
    
    #link-voltar{
        bottom: 20px;
        right: 35px;
    }

    .list-index{
        margin: 22px;
        padding: 16px 14px;
    }
    
    #projects{
        padding: 100px 0 0 0;
    }

    .project{
        width: 79%;
        margin: 135px;
    }

    .project-text{
        padding: 40px 40px 60px 40px;
    }

    .link-project{
        padding: 12px 14px;
        width: 340px;
    }
    
    .title-section2{
        padding: 33px;
    }

    .creditos{
        padding: 50px;
    }

    .p-creditos{
        line-height: 52px;
    }
}

@media screen and (min-width: 3300px){
    :root{
        font-size: 42pt;
    }

    #cabecalho, #cabecalho2{
        height: 185px;
    }

    #header-title, #logo{
        margin: 90px;
    }

    #logo{
        width: 165px;
    }

    #info{
        padding: 140px;
    }

    #personal-card{
        width: 1000px;
        min-width: 1000px;
        height: 1230px;
        border-radius: 36px;
    }
    
    #img-fundo-card{
        height: 315px;
        border-radius: 36px 36px 0 0;
    }
    
    #img-perfil-card{
        width: 250px;
        margin-top: 175px;
    }
    
    #conteudo-card{
        width: 930px;
        margin-top: 440px;
    }
    
    .redes, #voltar-btn{
        width: 118px;
        margin: 15px 12px;
    }
    
    #voltar-btn{
        margin: 0;
    }
    
    #link-voltar{
        bottom: 30px;
        right: 45px;
    }

    .list-index{
        margin: 30px;
        padding: 22px 20px;
    }
    
    #projects{
        padding: 150px 0 0 0;
    }

    .project{
        width: 77%;
        margin: 220px;
    }

    .project-text{
        padding: 50px 50px 70px 50px;
    }

    .link-project{
        padding: 16px 20px;
        width: 472px;
    }
    
    .title-section2{
        padding: 45px;
    }

    .creditos{
        padding: 70px;
    }

    .p-creditos{
        line-height: 73px;
    }
}

@media screen and (min-width: 4800px){
    :root{
        font-size: 56pt;
    }

    #cabecalho, #cabecalho2{
        height: 250px;
    }

    #header-title, #logo{
        margin: 110px;
    }

    #logo{
        width: 235px;
    }

    #info{
        padding: 200px;
    }

    #personal-card{
        width: 1400px;
        min-width: 1400px;
        height: 1686px;
        border-radius: 45px;
    }
    
    #img-fundo-card{
        height: 450px;
        border-radius: 45px 45px 0 0;
    }
    
    #img-perfil-card{
        width: 350px;
        margin-top: 260px;
    }
    
    #conteudo-card{
        width: 1270px;
        margin-top: 650px;
    }
    
    .redes, #voltar-btn{
        width: 160px;
        margin: 15px;
    }
    
    #voltar-btn{
        margin: 0;
    }
    
    #link-voltar{
        bottom: 38px;
        right: 55px;
    }

    .list-index{
        margin: 40px;
        padding: 28px;
    }
    
    #projects{
        padding: 230px 0 0 0;
    }

    .project{
        width: 75%;
        margin: 290px;
    }

    .project-text{
        padding: 60px 60px 85px 60px;
    }

    .link-project{
        padding: 20px 28px;
        width: 640px;
    }
    
    .title-section2{
        padding: 60px;
    }

    .creditos{
        padding: 98px;
    }

    .p-creditos{
        line-height: 100px;
    }
}



/*RESPONSIVIDADE PARA TELAS MENORES: */

@media screen and (max-width: 1000px){
    #projects{
        padding: 40px 0 0 0;
    }

    .project{
        width: 70%;
        margin: 70px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
    }
    
    .project-images{
        width: 100%;
        height: 100%;
        border-radius: 16px 16px 0 0;
    }
    
    .project-text{
        padding: 30px 30px 40px 30px;
    }

    .creditos{
        padding: 20px;
    }
}

@media screen and (max-width: 643px){
    :root{
        font-size: 15pt;
    }

    #header-title, #logo{
        margin: 30px;
    }

    #personal-card{
        height: 455px;
    }

    #index{
        margin-top: 10px;
    }
    
    #voltar-btn{
        width: 38px;
    }
    
    #link-voltar{
        bottom: 12px;
        right: 22px;
    }

    .link-project{
        width: 172px;
    }

    .creditos{
        padding: 15px;
    }
}

@media screen and (max-width: 530px){
    :root{
        font-size: 13pt;
    }

    #personal-card{
        width: 310px;
        min-width: 310px;
        height: 390px;
    }

    #conteudo-card{
        width: 290px;
        padding: 10px;
        margin-top: 135px;
    }

    .redes{
        width: 35px;
    }

    #img-fundo-card{
        height: 100px;
    }
    
    #img-perfil-card{
        width: 78px;
        margin-top: 55px;
    }

    #header-title, #logo{
        margin: 20px;
    }

    #logo{
        width: 55px;
    }

    .project{
        width: 85%;
        min-width: 155px;
        margin: 70px;
    }

    .project-text{
        padding: 16px 16px 26px 16px;
    }

    .link-project{
        width: 150px;
    }

    .creditos{
        padding: 10px;
    }
}

@media screen and (max-width: 400px){
    .link-project{
        margin: 0 auto;
    }
}

@media screen and (max-width: 370px){
    #personal-card{
        width: 250px;
        min-width: 250px;
        height: 420px;
    }

    #conteudo-card{
        width: 235px;
    }
}

@media screen and (max-width: 320px){
    .link-project{
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 300px){
    #personal-card{
        width: 210px;
        min-width: 210px;
        height: 495px;
    }

    #conteudo-card{
        width: 200px;
    }
}