@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root{
    font-size: 14pt;
}

body{
    background-color: #eee;
}

#cadastro-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-cadastro{
    font-size: 2rem;
    margin: 30px 20px 50px 20px;
    text-align: center;
}

#formulario{
    background-color: #E64848;
    border: 1px solid #000;
    border-radius: 12px;
    box-shadow: 3px 3px 10px #555;
    margin: 20px;
    padding: 18px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3px;
    grid-column-gap: 3px;
}

#title-form{
    color: #fff;
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
    font-size: 1.8rem;
}

#nome{
    grid-area: 2 / 1 / 3 / 2;
}

#sobrenome{
    grid-area: 2 / 2 / 3 / 3;
}

#uid{
    grid-area: 3 / 1 / 4 / 3;
}

#email{
    grid-area: 4 / 1 / 5 / 3;
}

#pwd{
    grid-area: 5 / 1 / 6 / 2;
}

#confirm-pwd{
    grid-area: 5 / 2 / 6 / 3;
}

#campo-enviar{
    grid-area: 6 / 1 / 7 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#enviar{
    font-size: 0.75rem;
    width: 100px;
    height: 32px;
    border: 1px solid #585858;
    border-radius: 15px;
    background-color: #f8c4c4;
    transition: 0.3s all;
}

#enviar:hover, .botoes:hover, #select:hover{
    background-color: #eb8989;
    cursor: pointer;
}

.campos{
    font-size: 1rem;
    border: 1px solid #777;
    padding: 1px 4px;
    background-color: #FFF;
}

.campos:disabled{
    background-color: #d5d5d5;
}

.campos:focus{
    outline: 0;
    background-color: #ffd4d4;
}

#loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#loading{
    animation: is-rotating 1s infinite;
    width: 100px;
    height: 100px;
    border: 12px solid #aaa;
    border-top-color: #E64848;
    border-radius: 50%;
}

@keyframes is-rotating{
    to{
        transform: rotate(1turn);
    }
}

header{
    background-color: #a10c0c; /* #b10d0d */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 72px;
}

#title{
    color: #FFF;
    font-size: 2.2rem;
}

header, #conteudo{
    margin-left: 90px;
}

#barra-lateral{
    background-color: #a10c0c;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s all ease;
}

.barra-lateral-off{
    width: 90px;
}

.barra-lateral-on{
    width: 300px;
}

#barra-lateral::-webkit-scrollbar{
    display: none;
}

#logo{
    width: 70px;
    margin: 3px 0 15px 0;
}

.lista-lateral{
    list-style: none;
}

.lista-lateral, #campo-pesquisa{
    transition: 0.3s all;
    padding: 7px;
    margin: 4px;
    border-radius: 15px;
}

.lista-lateral:hover{
    background-color: #E64848;
}

#barra-pesquisa{
    border: 0;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 1rem;
}

#barra-pesquisa:focus{
    outline: 0;
}

.links-laterais{
    color: #FFF;
    text-decoration: none;
}

.links-laterais, #campo-pesquisa{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.itns-laterais{
    font-size: 1rem;
    margin: 0 0 0 8px;
    display: none;
}

.itns-laterais-on{
    display: inline;
}

.icones{
    width: 30px;
}

.div-titles, .div-titles2{
    text-align: center;
    text-shadow: 1px 1px 3px #fff;
}

.div-titles{
    font-size: 1.9rem;
}

.div-titles2{
    font-size: 1.25rem;
}

#calculadora{
    border: 1px solid #000;
    border-radius: 12px;
    box-shadow: 3px 3px 10px #555;
    margin: 60px;
    padding: 12px;
    width: clamp(200px, 22vw, 480px);
    height: clamp(300px, 65vh, 580px);
    background-color: #E64848;
    display: grid;
    grid-template-rows: 40px repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 4px;
    grid-column-gap: 4px;
}

#calc-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1 / 2 / 5;
}

#calc-output{
    background-color: #fff;
    color: #444;
    height: 95%;
    padding: 5px;
    text-align: right;
    font-size: 1.4rem;
    grid-area: 2 / 1 / 3 / 5;
}

#bt1{ grid-area: 3 / 1 / 4 / 2; }

#bt2{ grid-area: 3 / 2 / 4 / 3; }

#bt3{ grid-area: 3 / 3 / 4 / 4; }

#bt4{ grid-area: 3 / 4 / 4 / 5; }

#bt5{ grid-area: 4 / 1 / 5 / 2; }

#bt6{ grid-area: 4 / 2 / 5 / 3; }

#bt7{ grid-area: 4 / 3 / 5 / 4; }

#bt8{ grid-area: 4 / 4 / 5 / 5; }

#bt9{ grid-area: 5 / 1 / 6 / 2; }

#bt10{ grid-area: 5 / 2 / 6 / 3; }

#bt11{ grid-area: 5 / 3 / 6 / 4; }

#bt12{ grid-area: 5 / 4 / 6 / 4; }

#bt13{ grid-area: 6 / 1 / 7 / 2; }

#bt14{ grid-area: 6 / 2 / 7 / 3; }

#bt15{ grid-area: 6 / 3 / 7 / 4; }

#bt16{ grid-area: 6 / 4 / 8 / 5; }

#bt17{ grid-area: 7 / 1 / 8 / 3; }

#bt18{ grid-area: 7 / 3 / 8 / 4; }

.centralizar-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc-buttons{
    background-color: #fab5b5;
    font-size: 1.4rem;
    border: 0;
    transition: 0.16s all;
}

.calc-buttons:hover{
    background-color: #eb8989;
    text-shadow: 0 0 3px #fff;
    cursor: pointer;
}

#gera-tabuada{
    border: 1px solid #000;
    border-radius: 12px;
    box-shadow: 3px 3px 10px #555;
    margin: 60px;
    padding: 16px;
    width: clamp(245px, 28vw, 480px);
    background-color: #f55c5c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gera-tabuada > *, #teorema-pitagoras > *, #conteudo-pitagoras > *, #segundo-grau > *, #geoplana > *, #conteudo-geoplana > *, #geoespacial > *, #conteudo-geoespacial > *{
    margin: 5px 0;
}

#gera-tabuada > .campos{
    width: 80%;
}

.botoes, #select{
    background-color: #fab5b5;
    font-size: 0.9rem;
    border: 1px solid #585858;
    border-radius: 15px;
    padding: 4px 8px;
    transition: 0.16s all;
}

#tabuada-output{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tabelas{
    margin: 30px;
    border-collapse: collapse;
    box-shadow: 3px 3px 9px #666;
}

.tabelas td{
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    width: 60px;
    font-size: 1rem;
    text-align: center;
}

.tabelas tr{
    background-color: #f7f7f7;
}

.tabelas tr:nth-child(odd){
    background-color: #ff9494;
}

#teorema-pitagoras, #segundo-grau, #card, #geoplana, #geoespacial{
    border: 1px solid #000;
    border-radius: 12px;
    box-shadow: 3px 3px 10px #555;
    margin: 60px;
    padding: 16px;
    background-color: #f55c5c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conteudo-pitagoras, #conteudo-geoplana, #conteudo-geoespacial{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label[for="select"]{
    color: #fff;
}

#select{
    font-size: 0.8rem;
    padding: 2px 3px;
    outline: 0;
}

#card{
    background-color: #f55c5c;
    width: 300px;
    height: 305px;
    padding: 0;
}

#fundo-card{
    width: 100%;
    height: 120px;
    border-radius: 10px 10px 0 0;
}

#img-perfil{
    width: 90px;
    border-radius: 100%;
    position: absolute;
    margin-top: 75px;
}

#card-content{
    margin-top: 45px;
    padding: 12px;
    height: 100%;
    width: 100%;
    border-radius: 0 0 12px 12px;
}

.div-titles3{
    text-align: center;
    margin: 8px 2px 30px 2px;
    font-size: 0.8rem;
    color: #333;
}

#link-email{
    color: #333;
}


#link-voltar{
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 21px;
    z-index: 1;
}

#voltar-btn{
    width: 46px;
    border-radius: 50%;
    box-shadow: 0 0 6px #242424;
    transition: 0.18s;
}

@media screen and (max-width: 1000px){
    :root{
        font-size: 12pt;
    }

    #card{
        width: 250px;
        height: 285px;
    }

    #fundo-card{
        height: 110px;
    }
    
    #img-perfil{
        width: 80px;
        margin-top: 70px;
    }
}

@media screen and (max-width: 643px){        
    #voltar-btn{
        width: 38px;
    }
    
    #link-voltar{
        bottom: 7px;
        right: 12px;
    }
}

@media screen and (max-width: 530px){        
    #voltar-btn{
        width: 30px;
    }
    
    #link-voltar{
        bottom: 3px;
        right: 8px;
    }
}

@media screen and (max-width: 500px){
    :root{
        font-size: 10pt;
    }

    #enviar{
        width: 80px;
        height: 24px;
    }

    .barra-lateral-off{
        width: 60px;
    }

    .barra-lateral-on{
        width: 240px;
    }

    header, #conteudo{
        margin-left: 60px;
        min-width: 250px;
    }

    header{
        min-height: 47px;
    }

    .icones{
        width: 22px;
    }

    #logo{
        width: 45px;
        margin: 3px 0 15px 0;
    }

    #gera-tabuada{
        width: clamp(200px, 28vw, 480px);
    }

    #gera-tabuada > .campos{
        width: 90%;
    }

    .tabelas{
        margin: 20px;
    }

    .tabelas td{
        border: 1px solid rgb(0, 0, 0);
        padding: 3px;
        width: 40px;
        font-size: 1rem;
        text-align: center;
    }

    #teorema-pitagoras, #segundo-grau, #card, #geoplana, #geoespacial{
        margin: 40px;
    }

    #card{
        width: 200px;
        height: 230px;
    }

    #card-content{
        margin-top: 40px;
    }
    
    .div-titles3{
        margin: 8px 2px 18px 2px;
    }

    #fundo-card{
        height: 80px;
    }
    
    #img-perfil{
        width: 60px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 480px){
    #formulario{
        width: 90%;
    }

    .campos{
        width: 100%;
    }
}

@media screen and (max-width: 360px){
    #formulario{
        min-width: 138px;
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: 1fr;
    }

    .campos{
        height: clamp(10px, 100%, 50px); 
    }

    #nome{
        grid-area: 2 / 1 / 3 / 2;
    }
    
    #sobrenome{
        grid-area: 3 / 1 / 4 / 2;
    }
    
    #uid{
        grid-area: 4 / 1 / 5 / 2;
    }
    
    #email{
        grid-area: 5 / 1 / 6 / 2;
    }
    
    #pwd{
        grid-area: 6 / 1 / 7 / 2;
    }
    
    #confirm-pwd{
        grid-area: 7 / 1 / 8 / 2;
    }
    
    #campo-enviar{
        grid-area: 8 / 1 / 9 / 2;
    }
}